{% extends 'base.html.twig' %}

{% block title %}Hello {{app.user.username}}!
{% endblock %}
{% form_theme profilePictureForm 'bootstrap_5_layout.html.twig' %}
{% form_theme profileSettingsForm 'bootstrap_5_layout.html.twig' %}


{% block body %}

	<div class="container">
		<div class="row">


			<div class="col-12 profile-settings">
				<div class="card-title text-muted">Your Settings</div>

				{{form(profileSettingsForm)}}
				</div>
			</div>
			<div class="col-12 profile-picture-form">

					<div class="card-title text-muted"><h6>Edit your profile image</h6></div>

					{{form(profilePictureForm)}}
					</div>

			</div>
		</div>
	</div>

{% endblock %}
