{% extends 'base.html.twig' %}

{% block title %}Home Page
{% endblock %}

{% block body %}


    <div class="container min-vh-100">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <div class="container">
            <div class="row ">

                <div class="col-8 forum-wrapper ">
                    {% for forum in forums %}
                        <div class="card section-wrapper ">
                            <div class="card-header ">
                                {{ forum.title }}
                            </div>
                            <div class="card-body ">
                                {% for category in forum.categories %}
                                    {% embed 'home/category-box.html.twig' %}{% endembed %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-4 ">

                    {# widgets section #}
                    <div class="row justify-content-end ">

                        {{render(path('app_stats'))}}
                    </div>
                </div>
            </div>

        </div>


    </div>
    {% embed 'footer.html.twig' %}{% endembed %}
{% endblock %}
