{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}


	<div class="row">
		<div class="col-6 text-center">
			<div class="card">
				<div class="card-title text-muted">Statistiques for registered users by Year</div>
				{{render_chart(birthstats)}}

			</div>
		</div>
		<div class="col-6">
			<div class="card">
				<div class="card-title text-muted">Statistiques for registrations</div>
				{{render_chart(registrations)}}
			</div>
		</div>
	</div>
</div>{% endblock %}
