body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e9f0f5;
    min-height: 100vh;
    margin-bottom: 100px;
    clear: both;

}

.container {
    background-color: white;
    height: 100vh;
    padding-top: 1%;
}

.bold {
    font-weight: bold;
}