.forum-wrapper .card {
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
}

.card .card-header {
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
}

.category-wrapper {
    display: flex;
    justify-content: space-between;
}

.category-details {
    display: flex;
    flex-direction: column;
}

.category-icon-info {
    display: flex;
    justify-content: space-between;
}

.category-icon {
    margin-right: 10px;
}

.category-stats li {
    list-style-type: none;
    display: block;
}

.category-latest-post {
    display: flex;
}

.user-image img {
    width: 50px;
    height: 50px;
}

.user-image {
    margin-right: 10px;
}

.stats-header {
    float: left;
}

.stats-info {
    float: right;
}

.category-name {
    font-weight: bold;
}

.category-stats p {
    font-weight: 100;
    font-size: small;
}

.post-title {
    font-weight: bold;
}

.category-icon i {
    color: gold;
}

#login-wrapper {
    width: 75%;
    margin: auto;
}

