    <footer>
        <div class="footer-tabs">
            <div class="footer-important">
                <div class="footer-tab"> <a href="">Privacy Policy</a></div>
                <div class="footer-tab"><a href="">Terms and conditions</a></div>
            </div>
            <div class="footer-contact">
                <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>

        </div>
        <div class="footer-copyright">© Lorem Ipsum. 2022</div>
    </footer>