{% extends 'base.html.twig' %}

{% block title %}Create a comment{% endblock %}


{% block body %}
    <header>
        <nav>

        </nav>
    </header>

    <div class="container">
    {{form(form)}}

    </div>

{% embed 'footer.html.twig' %}
{% endembed %} 

{% endblock %}



