{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!
{% endblock %}

{% block body %}
	<style>
		.category-forum {
			display: flex;
			justify-content: space-between;
		}
		.widget {
			margin-bottom: 10px;
			margin-top: 10px;
			height: auto;
			width: 50%;

		}
		.forum-wrapper .card {
			margin-top: 10px;
			margin-bottom: 10px;
		}
        .forum-wrapper .card .card-header
        {
            background-color: #AA00FF;
            color: white;
            font-weight: bold;
        }
        .widget
        {
           
        }
	</style>
	<div class="container">
		<div class="row">
			<div class="col-8 forum-wrapper">

				<div class="card">
					<div class="card-header">
						Section 1
					</div>
					<div class="card-body">
						<div class="category-forum">
							<div class="category-icon">category-icon</div>
							<div class="category-info">category-info</div>
							<div class="category-latest">Lastest post</div>
						</div>
						<div class="category-forum">
							<div>category-icon</div>
							<div>category-info</div>
							<div>Lastest post</div>
						</div>
						<div class="category-forum">
							<div>category-icon</div>
							<div>category-info</div>
							<div>Lastest post</div>
						</div>

					</div>
				</div>
				<div class="card">
					<div class="card-header">
						Section 2
					</div>
					<div class="card-body">
						<div class="category-forum">
							<div class="category-icon">category-icon</div>
							<div class="category-info">category-info</div>
							<div class="category-latest">Lastest post</div>
						</div>
						<div class="category-forum">
							<div>category-icon</div>
							<div>category-info</div>
							<div>Lastest post</div>
						</div>
						<div class="category-forum">
							<div>category-icon</div>
							<div>category-info</div>
							<div>Lastest post</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-4">


				<div class="row justify-content-end">
					<div class="widget">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Latest member</h4>
								<p class="card-text">Text</p>
							</div>

						</div>
					</div>
				</div>
				<div class="row justify-content-end">
					<div class="widget">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Number of threads</h4>
								<p class="card-text">1567</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
